<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Production Analysis - Give Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body align="center" bgcolor="#00bfff">
	<!-- <p th:text="'MII Server' + ${login.StringURL} + ' is configured successfully!'" /> -->

    <div class="" style="width:100%" align="center"> 
	<h1>Enter your details</h1>
    <form action="#" th:action="@{/resource}" method="post">
	    <!-- <p>IP: <input type="text" th:field="*{ip}" /></p>
	        <p>Port: <input type="text" th:field="*{port}" /></p>
	        <p>User: <input type="text" th:field="*{user}" /></p>
	        <p>Password: <input type="text" th:field="*{password}" /></p> -->
     
        <p><input type="Submit" value="View" /> <input type="reset" value="Reset" /></p>
    </form>
   </div>
    

</body>
</html>